header {
  background: gainsboro;
  display: flex;
  justify-content: space-between;`
}
#pixed {
    position: fixed;
    height: 50px;
    width: 100%;
}
header h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 8px;
  margin-left: 20px;
}
header nav {
  margin: 15px;
}
#nike1 {
    text-decoration: none;
}
#nike2 {
    text-decoration: none;
}
#nike3 {
    text-decoration: none;
}
#adidas1 {
  background-color: pink;
  height: 100vh;
}
#adidas2 {
  background-color: purple;
  height: 100vh;
}
section h2 {
    font-size: 100px;
}
#adidas3 {
  background-color: yellow;
  height: 100vh;
}
.TOP {
  position: fixed;
  text-align: center;
  width: 50px;
  border: 2px solid white;
  margin: auto;
  border-radius: 5%;
  background-color: aqua;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}